
.posts-container {
    max-width: 40%;
    min-width: 350px;
    padding-inline: 10px;
    margin-inline: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: calc(100vh - 10em);
}

.posts-container li {
    width: 100%;
}

.posts-container::-webkit-scrollbar{
    width: 0;
}