:root {
    --primary-color: #FD2D01    ;
    --secondary-color: #FFD7D7;
    --dark-color: #4E5166;
    --dark-bg-color: rgba(78, 81, 102, 0.47);
}

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    list-style: none;
    color: var(--dark-color);
}

.btn {
    box-shadow:  0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-block: 0.5em;
    color: var(--dark-color);
    border-radius: 0.750em;
    border: none;
    padding: 0.35em;
    background: transparent;
    cursor: pointer;
}

.footer {
    z-index: 1000;
    position: sticky;
    bottom: 0;
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(165, 165, 165);
}

.footer a {
    margin-left: 1em;
    color: white;
    text-decoration: none;
}

.image-profile {
    border-radius: 50%;
}